body {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    background-color: #dfdfdf;  
} 

#cabecera{  
    padding: 5px; 
    height: auto; 
    background-color: #0000ff;   
}

#headerInicio {  
    position: relative;
    width: auto;
    display: block; 
} 

ul, ol {
    list-style:none; 
} *
.nav li a {
    background-color: #0000ff;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color:#094293; 
}

.nav li ul {
    display: none; 
} 

.boton{ 
    position: relative;   
    width:200px;
    height:25px; 
}

#cuadroLogIn{ 
    position: relative;
    top: 50px;
    left: 13%;
    width:380px;
    height:350px; 
    background-color: #ffffff;
    border:1px solid black;
    border-radius:12px;
    text-align: center;
    display: block;
}

img { 
    display: none;
}

#img_login{
    position: relative; 
    display: block;
    left: 35%;
    width: 100px;
    height: 100px; 
}

#cuadroRegistro{ 
    position: relative;
    top: 1%;
    left: 10%;
    width:420px;
    height:1020px; 
    background-color: #ffffff;
    border:1px solid black;
    border-radius:22px;
    text-align: center;
    display: block;
} 

.enviar{
    position: relative;   
    width:210px;
    height:25px;
    border:3px solid blue;
    background-color: blue;
    color: white;
}

#enviar:hover{
    border:1px solid blue;
    background-color:#094293; 
}

.servicio{
    position: relative;
    top: 20%; 
    width:500px;
    height:350px;  
    text-align: center;

}

.servicio p{
    font-size: large; 
}

.servicio ul{
    font-size: large;
}

#back a{ 
    position: relative;
    left: 30%;
    color: green;  
} 

#next a{ 
    position: relative;
    left: 30%;
    color: green;  
} 

#tablaA{
    display: none;   
}

#tablaP{
    display: none;   
}

#pie{
    position: relative;
    top: 30px;
    display: block;
    clear: both; 
    padding: 20px; 
    height: 75px; 
    background-color: #0000ff; 
} 

#pie p a {
    position: relative;
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 1px solid blue;
    width: 200px; 
    left: 30%;
    display: block;
}

#ajustes{ 
    position: relative;
    top: 20%;
    left: 5%;
    width:480px;
    height:400px; 
    background-color: #ffffff;
    border:1px solid black;
    border-radius:22px;
    text-align: center;
    display: block;
} 

.modificar{
    position: relative; 
    left: 20%; 
    width:110px;
    height:30px;
    border:3px solid green;
    background-color: green;
    color: white;
}

#modificar:hover{
    border:1px solid green;
    background-color:#00722e; 
}

h1{ 
    color: #1d244a;
    text-align: center;
}

h2{ 
    color: #1d244a; 
    text-align: center;
}

.consultar{
    position: relative; 
    left: 20%; 
    width:80px;
    height:30px;
    border:1px solid #848482;
    background-color: #848482;
    color: white;
}

#consultar:hover{
    border:1px solid #848482;
    background-color:#BEBEBE; 
}

.buscar{
    position: relative; 
    left: 20%; 
    width:110px;
    height:30px;
    border:3px solid #ffd700;
    background-color: #ffd700;
    color: white;
}

#buscar:hover{
    border:1px solid #ffd700;
    background-color:#ebe939; 
}

.crear{
    position: relative; 
    left: 20%; 
    width:80px;
    height:30px;
    border:1px solid #51d1f6;
    background-color: #51d1f6;
    color: white;
}

#crear:hover{
    border:1px solid #51d1f6;;
    background-color:#4682b4; 
}
 
.ir-arriba {
    display:none;
    padding:20px;
    background:#1d244a;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
}

.aumentar {
    display:block;
    padding:20px;
    background:#1d244a;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
}
