body {
    margin: 0px;
    padding: 0px; 
    background-color: #dfdfdf; 
} 

#header {  
    position: relative;
    width: 620px;
    display: block;
}

ul, ol {
    list-style:none; 
} *
.nav li a {
    background-color: #0000ff;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color:#094293; 
}

.nav li ul {
    visibility: hidden;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul { 
    display: block;
    visibility: visible;
}

.nav li ul li {
    border: 1px solid #ffffff;
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.boton{ 
    position: relative;   
    width:200px;
    height:25px; 
}

#cuadroLogIn{ 
    position: absolute; 
    top: 50%;
    left: 25%;
    width:400px;
    height:300px; 
    background-color: #ffffff;
    border:3px solid black;
    border-radius:12px;
    text-align: center;
}

#img_login{
    position: relative; 
    width: 70px;
    height: 70px; 
}


/*
@media(min-width:1024px){ 
    .nav-bar{
        display: none;
    } 
    .menu
    {
        margin-left: 0;
        display: flex;
    }
    .container-submenu{
        position: relative;
    }
    .submenu{
        position: absolute;
        top: 60px;
        width: 200px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }
    .container-submenu:hover .submenu{
        opacity: 1;
        visibility: visible;
    }
}
*/
