body {
    margin: 0px;
    padding: 0px;  
    width: auto;
    height: auto;
    background-color: #dfdfdf; 
} 

#cabecera{  
    padding: 20px; 
    height: 75px;
    background-color: #0000ff; 
} 

h1{
    font-family: Verdana, Geneva, sans-serif;
    color: #1d244a;
    text-align: center;
}

h2{
    color: #1d244a; 
    text-align: center;
}

p{
    text-align: center;
}

p[name="boton"]{
    text-decoration: none;
}

table {
    position: absolute;
    left: 20%;
    border: #b2b2b2 1px solid;
    text-align: center;
}
td, th {
    border: black 1px solid;
}

#tablaA{
    display: none;
}

#tablaP{
    display: none;
} 

.servicio{
    position: absolute;
    top: 20%;
    left: 25%;
    width:500px;
    height:350px;  
    text-align: center;
    
}

.servicio p{
    font-size: large;
    font-family: cursive;
}

.servicio ul{
    font-size: large;
}

#back a{ 
    position: relative;
    left: 30%;
    color: green;  
} 

#next a{ 
    position: relative;
    left: 30%;
    color: green;  
} 
 
/*
p[name="boton"]{
    width:90px;
    margin:10px 50px; 
    background-color:#0000ff; 
}

p[name="boton"] a {
    background-color:#0000ff;
    color:#fff;  
    padding:10px;
    text-decoration:none;  
    display:block;
}

p[name="boton"] a:hover { 
    background-color:#094293;
}*/

#contenido { 
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    font-size: medium;
}

.boton{ 
    position: relative; 
    left: 20%; 
    width:300px;
    height:25px; 
}

#cuadroLogIn{ 
    position: absolute;
    top: 30%;
    left: 25%;
    width:500px;
    height:350px; 
    background-color: #ffffff;
    border:3px solid black;
    border-radius:22px;
    text-align: center;
}

#img_login{
    position: relative; 
    width: 100px;
    height: 100px; 
}

#imgIn{
    left: 10%;
    bottom: 15%;
    position: relative; 
    width: 70px;
    height: 70px; 
}

#cuadroAgendamiento{ 
    position: absolute;
    top: 25%;
    left: 25%;
    width:590px;
    height:450px; 
    background-color: #ffffff;
    border:3px solid black;
    border-radius:22px;
    text-align: center;
}
 

#cuadroRegistro{ 
    position: absolute;
    top: 25%;
    left: 20%;
    width:680px;
    height:1010px; 
    background-color: #ffffff;
    border:1px solid black;
    border-radius:22px;
    text-align: center;
} 

.enviar{
    position: relative; 
    left: 20%; 
    width:310px;
    height:30px;
    border:3px solid blue;
    background-color: blue;
    color: white;
}

#enviar:hover{
    border:1px solid blue;
    background-color:#094293; 
}
/*
#agrupar {
 width: 960px;
 margin: 15px auto;
 text-align: left;
}
 
*/

#header {
    margin:auto;
    width:520px; 
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav > li {
    border: 1px solid #ffffff;
    float:left;
}

.nav li a {
    background-color: #0000ff;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color:#094293; 
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul { 
    display: flex;
}

.nav li ul li {
    border: 1px solid #ffffff;
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

#formulario>div{
    text-align: right;
    margin-right: 30%; 
}

